<h1>Create Book</h1>

<form>
    <ul style="list-style-type:none;">
        <li>
            <input type="text" placeholder="Title" name="Title" />
        </li>
        <li>
            <input type="text" placeholder="Author" name="Author" />
        </li>
        <li>
            <input type="date" placeholder="Date" name="Date" />
        </li>
    </ul>
</form>

<link rel="stylesheet" href="~/css/createBook.css" />