<h1>About</h1>
<h2>This is the team behind the website:</h2>
<img src="" />
<img src="" />
<img src="" />
<img src="" />

<div>
    <div>
        <h3>Carl Fredrik</h3>
        <p>I like to watch movies and movieseries and be with my dog</p>
    </div>
    <div>
        <h3>Julia</h3>
        <p>I like to watch movies and movieseries and be with my dog</p>
    </div>
    <div>
        <h3>Ludvig</h3>
        <p>I like to watch movies and movieseries</p>
    </div>
    <div>
        s
        <h3>Mattis</h3>
        <p>I like to watch movies and movieseries</p>
    </div>
</div>