<h1>About</h1>
<h2>This is the team behind the website:</h2><br/>

<style>
    #CJ, #LM{
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
    }
    #CJ > div, #LM > div{
        width: 500px;
    }
</style>



<div>
    <div id="CJ">
        <div>
            <h3>Carl Fredrik</h3>
            <img src="/images/1.jpeg" style="width: auto; height: 200px;" />
            <p>Fråga: Hur långt går Sverige i EM ?</p>
            <p>"Jag kollar inte på fotboll"</p>
        </div>
        <div>
            <h3>Julia</h3>
            <img src="/images/2.jpeg" style="width: auto;height:200px;" />
            <p>Fråga: Hur långt går Sverige i EM ?</p>
            <p>"Inga förhoppningar! Max åttondelsfinal."</p>
        </div>
    </div>
    <div id="LM">
        <div>
            <h3>Ludvig</h3>
            <img src="/images/3.jpg" style="width: auto; height: 200px;" />
            <p>Fråga: Hur långt går Sverige i EM ?</p>
            <p>"Så länge Robin Tranberg inte är med så tar vi oss INTE ur gruppspelet"</p>
        </div>
        <div>
            <h3>Mattis</h3>
            <img src="/images/4.jpeg" style="width: auto; height: 200px;" />
            <p>Fråga: Hur långt går Sverige i EM ?</p>
            <p>"Med en gedigen kämparglöd tar vi hem hela skiten..."</p>
        </div>
    </div>
</div>