@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our book review website.</h1>
    <img src="~/images/5.jpg" style="margin: auto 0 0" />
</div>